<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poyaoko</title>
    <link rel="stylesheet" href="../public/css/inicio.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header" id="inicio">
        <img src="../public/img/bx-menu.svg" alt="" class="hamburger">
        <nav class="menu-navegacion">
            <a href="#inicio">Inicio</a>
            <a href="#servicio">Servicio</a>
            <a href="#portafolio">Portafolio</a>
            <a href="#expertos">Expertos</a>
            <a href="#perfil">Perfil</a>
            <a href="#contacto">Contacto</a>
        </nav>
        <div class="contenedor head">
            <h1 class="titulo">Un cachito de luna a tus manos</h1>
            <p class="copy">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
    </header>
    <main>
        <section class="contenedor" id="servicio">
            <h2 class="subtitulo">Nuestro servicio</h2>
            <div class="contenedor-servicio">
                <img src="../public/img/Facebook_Isometric.svg" alt="">
                <div class="facebook-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Conexión de teclers</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi mollitia eos ducimus repudiandae maiores officia excepturi nulla quaerat sapiente beatae.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Perfil personalizado</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi mollitia eos ducimus repudiandae maiores officia excepturi nulla quaerat sapiente beatae.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>Atractivo visual</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi mollitia eos ducimus repudiandae maiores officia excepturi nulla quaerat sapiente beatae.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="galery" id="portafolio">
            <div>
                <h2 class="subtitulo">Galeria</h2>
                <di class="contenedor-galeria">
                    <img src="../public/img/luna1.jpg" alt="" class="img-galeria">
                    <img src="../public/img/luna2.jpg" alt="" class="img-galeria">
                    <img src="../public/img/luna3.jpg" alt="" class="img-galeria">
                    <img src="../public/img/luna4.jpg" alt="" class="img-galeria">
                    <img src="../public/img/luna5.jpg" alt="" class="img-galeria">
                    <img src="../public/img/luna6.jpg" alt="" class="img-galeria">
                </di>
            </div>
        </section>  
        <section class="imagen-light">   
            <img src="../public/img/bxs-x-circle.svg" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </section> 
        <section class="contenedor" id="expertos">
            <h2 class="subtitulo">Contamos con:</h2>
            <section class="experts">
                <div class="cont-expert">
                    <img src="../public/img/ideas.svg" alt="">
                    <h3 class="n-expert">Creatividad</h3>
                </div>
                <div class="cont-expert">
                    <img src="../public/img/cultura.svg" alt="">
                    <h3 class="n-expert">Culura</h3>
                </div>
                <div class="cont-expert">
                    <img src="../public/img/seguridad.svg" alt="">
                    <h3 class="n-expert">Seguridad</h3>
                </div>
            </section>
        </section>
    </main>
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">Poyaoko</h2>
                <p>Expertos de una luna a otra</p>
            </div>
            <div class="social-media">
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-facebook-circle'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-instagram'></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>
    <script src="../public/js/menu.js"></script>
    <script src="../public/js/lightbox.js"></script>
</body>
</html>